body{
    background-color: #fff0f5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.white-container{
    background-color: #383435; ;
    padding: 10%;
}
h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.8em;
    color: #383435;
    padding: 10px;
    margin-top: 10%;
}
h4{
    text-align: center;
    font-size: 1.6em;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    margin: 0;
}

#kategori{
    font-family: 'Merriweather', serif;
    color: #383435;
    margin-left: 25%;
    padding: 10px;
}
select{
    color: #383435;
    margin: 5%;
    margin-bottom: 0;
    margin-left: 30%;
}

.captionContainer{
    margin-top:5%;
    padding: 15%;
    background-color:white;
    max-height: 8px;
    border-radius: 20px;
}
.captionContainer p{
    color: #383435;
    text-align: center;
    margin: -7%;
    padding: 0;
}

button{
    color: #383435;
    background-color:white;
    padding: 3%;
    border-radius: 7px;
    margin: 5%;
}
.right{
    margin-left: 16%;
}

/* Animated arrow*/

.container-arrow {
    position: relative;
    width: 40px;
    height: 24px;
    margin-left: 40%;
  }
  
  .chevron {
    position: absolute;
    width: 18px;
    height: 2px;
    opacity: 0;
    margin-left: 50%;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: white;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
      opacity: 1;
    }
  }



/* Symboler */

.symboler{
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: inherit;
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--instagram:hover { color: #833ab4 }
.c-link--snapchat:hover  { color: #fbe00f }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--snapchat:hover::after  { background: #fbe00f }

.c-link {
    position: relative;
    color: #bbb;
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .61em .93em;
    font-size: .875rem;
    color: white;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.pens-link-container {
    flex-basis: 100%;
    font-size: .9rem;
    text-align: center;
}

.pens-link {
    margin-bottom: 0;
    background: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
    border: none;
}